.title { grid-area: titl; }
.login { grid-area: logn; }
.navigation { grid-area: navi; }

/*For aspect ratios smaller than 4:3*/
.container{
    grid-template-areas:
    'titl'
    'navi'
    'logn'
}

input{
    margin:0.3em;
}